.Navbar {
    display: flex;
}

.Title {
    width: 250px;
    padding: 5px;
    color: black;
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

.Navbar ul {
    list-style: none;
    width: 500px
}

li {
    /* display: block; */
    float: left;
    padding: 10px;
}


  

