.Navbar {
  display: grid;
}

.Navbar h1 {
  width: 150px;
}

.Navbar ul {
  display: inline;
  display: block;
  list-style: none;
}

li {
  display: block;
  color: red;
  float: left;
  padding: 10px;
}